{% block main %}
    <h1> Hello, {{ username }} </h1>
    <h1> {{ day }}: {{musclegroup}} Day </h1>
{% for exercise in exercisereps %}

{% set reps = exercisereps[loop.index - 1][exercises[loop.index - 1]] %}
<h2> {{ [exercises[loop.index - 1]][0] }} </h2>
    <table class="table table-striped" style="text-align: left">
         <thead>
            <tr>
                <th>Exercise</th>
                <th>Set 1</th>
                <th>Set 2</th>
                <th>Set 3</th>
                <th>Total Reps</th>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td><b></b></td>
                </tr>
            </tfoot>
        </thead>
        <tbody>


            <tr>
                <td>{{ bodypartmove[loop.index - 1] }}</td>
                <td>{{sets[loop.index - 1][0]}}</td>
                <td>{{sets[loop.index - 1][1]}}</td>
                <td>{{sets[loop.index - 1][2]}}</td>
                <td>{{reps}} {% if exercises[loop.index - 1] == 'Core' or exercises[loop.index - 1] == 'Spinal Erector' %}Seconds {% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
{% if overload|length > 0 %}
<p>It appears you have exercises that have exceeded our recommended reps limit. If you can do three sets of 12 <b>without stopping</b> then we recommend increasing your level for that exercise in the settings
menu. For core exercises we recommend no more than 2 minutes per set. The exercises over the limit include:<br>
{{ overload[0] }}<br>
{{ overload[1] }}<br>
{{ overload[2] }}<br>
{{ overload[3] }}</p>
{% endif %}
{% endblock %}